body {
    background: hwb(172 15% 44%);
    padding-top: 1em;
    color: #fff;
    font-family: "arial", sans-serif;
}

#kalender {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    background-image: url("christmas.jpg");
    width: 1000px;
    height: 500px;
    margin: auto;
}


h1 {
    font-family: "Mountains of Christmas", sans-serif;
    text-align: center;
    margin: 0 auto 0.5em;
    padding: 0 0em;
    max-width: 42rem;
    line-height: 1.2;
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 900;
}

input {
    display: none;
}

label {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
}

.lucka {
    position: relative;
    height: 10.0em;
    font-size: 1.2em;
    width: 80%;
    color: darkgreen;
    border: dashed 2px darkgreen;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 300ms;
    margin-left: 2em;
}

.lucka div {
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.lucka .bak {
    color: white;
    background-color: #020;
    transform: rotateY(180deg);
    white-space: pre;
}

:checked + .lucka {
    font-size: 0.6em;
    height: 12em;
    transform: rotateZ(1deg) rotateY(180deg) scale(2.5);
}
