body {
  background: #003;
  padding-top: 1em;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto 0.5em;
  padding: 0 0em;
  max-width: 42rem;
  line-height: 1.2;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
}

.kalender {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2em;
    padding: 2em;
    background-image: url('bakgrund.jpg');
}

.lucka {
    border: dotted 1px wheat;
    text-align: center;
    height: 2em;
    padding: 1em;
}

.öppen {
    border: solid 1px red;
}
