body {
    background: #003;
    padding-top: 1em;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
    margin: 0 auto 0.5em;
    padding: 0 0em;
    max-width: 42rem;
    line-height: 1.2;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.kalender {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2em;
    padding: 2em;
    background-image: url("bakgrund.jpg");
}

input {
    display: none;
}

label {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
}

.lucka {
    height: 3em;
    width: 100%;
    border: dashed 1px wheat;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 300ms;
}

.lucka div {
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.lucka .bak {
    background-color: #2e313d;
    transform: rotateY(180deg);
}

:checked + .lucka {
    transform: rotateZ(3deg) rotateY(180deg) scale(3);
}
